<div class="container" fade-in>
    <div style="padding-top: 2em;">
        <div class="jumbotron">
            <div style="padding-bottom: 1em;" class="pull-right">
                <a href="https://github.com/robertjchristian/angular-enterprise-seed" class="alert alert-link">                     <span>
                        <img ng-src="http://robertjchristian.github.com/fs2/images/octocat-icon.png">View on GitHub              </span>   
                </a>
            </div>

            <div class="page-header">
                <h1>Administration</h1>
                <h4>&nbsp;&nbsp; This is where we upload the data from Nielsen.</h4>
            </div>
            <div>
                <hr/>    
                <p>This project is meant to serve as a more substantial starting point for professional web applications. It integrates AngularJS with projects like Angular-UI, Angular-Strap, Bootstrap, and jQuery, along with examples of angular services, directives, controllers, and filters. Click sign in above to see additional features, or browse the widgets...</p>
                <hr/>
            </div>
            
            <div>
                <table>
                    <tr>
                        <td><a class="btn btn-md btn-success" ui-sref="target">Modify Target Names</a></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><a class="btn btn-md btn-info" ui-sref="nielsen">Add / Modify Nielsen Data</a></td>
                    </tr>    
                </table>
            </div>
        </div>

    </div>

</div>